meta(charset='utf-8')
meta(name='viewport' content='initial-scale=1.0, maximum-scale=1.0')
meta(name='description', content='Jacopo Daeli is a Computer Scientist, Software Engineer and Hacker passionate about web technologies with a vocation for writing beautiful and clean code.')

block title
  title Jacopo Daeli - Computer Scientist, Software Engineer and Hacker

link(rel='stylesheet', href='dist/index.css')
